-dict /opt/etc/astsphinx/models/en_US/dictionary
-hmm /opt/etc/astsphinx/models/en_US
-jsgf /opt/etc/astsphinx/grammar/digits-en-4.gram
-samprate	8000
-silprob	0.1
-bestpath no
-cmn none
-remove_dc no
-fwdflat yes
-varnorm yes
-wip 1
-beam 1e-80
-wbeam 1e-40
-lw 3 
-frate 100
-alpha 1
-agcthresh 1
-agc noise
-debug 255
